
# Método importando .CSV

# Comando para convertir PDF
$ dot -T pdf arbol.dot -o arbol.pdf

In [33]:
from id3 import Id3Estimator, export_graphviz, export_text
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from collections import defaultdict

In [34]:
# create a dataframe
data_df = pd.read_csv('alumnos.csv', dtype = 'str')
print(data_df.shape)
data_df.head()

(23, 7)

,Nombre,Carrera/s,Semestre,Genero,Lentes,Nombres,Proyecto 2
0,LUIS FERNANDO MENDEZ CRUZ,Mecatrónica,10,M,No,2,Damas
1,MARIO GALVEZ LOPEZ,Mecatrónica,10,M,No,1,Damas
2,ZARA MARIA UBALDO GALICIA,Ing. en Computación,10,F,Sí,2,Damas
3,BERNARDO ALTAMIRANO GARCIA,Ing. en Computación,9,M,No,1,Damas
4,LUIS ANDRES GOMEZ MARTINEZ,Ing. en Computación,8,M,Sí,2,Ajedrez

In [35]:
x = data_df.drop('Nombre', axis=1)
print(x.head(3))
y = data_df['Nombre']
print(y.head(3))

             Carrera/s Semestre Genero Lentes Nombres Proyecto 2
0          Mecatrónica       10      M     No       2      Damas
1          Mecatrónica       10      M     No       1      Damas
2  Ing. en Computación       10      F     Sí       2      Damas
0    LUIS FERNANDO MENDEZ CRUZ
1           MARIO GALVEZ LOPEZ
2    ZARA MARIA UBALDO GALICIA
Name: Nombre, dtype: object

In [70]:
values = []
for col in x:
    for val in x[col].unique():
        values.append(val)
print(values)

['Mecatrónica', 'Ing. en Computación', 'Ing. Industrial y Mecatrónica', 'Ing. en Negocios', 'Ing. en Computación e Ing. Industrial*', 'Ing, en Computación y Mat. Aplicadas', 'Ing. en Computación y Mecatrónica', 'Mat. Aplicadas', 'Ing. en Computación ', 'Ing. en Computación y Mat. Aplicadas', 'Ciencia de Datos', 10, 9, 8, 7, 6, 5, 4, 'M', 'F', 'No', 'Sí', 2, 1, 'Damas', 'Ajedrez', 'Conecta 4']

In [71]:
le = LabelEncoder()
mapped = le.fit_transform(values)
mapping = dict(zip(le.classes_, range(1, len(le.classes_)+1)))
print(mapping)

{'1': 1, '10': 2, '2': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, 'Ajedrez': 10, 'Ciencia de Datos': 11, 'Conecta 4': 12, 'Damas': 13, 'F': 14, 'Ing, en Computación y Mat. Aplicadas': 15, 'Ing. Industrial y Mecatrónica': 16, 'Ing. en Computación': 17, 'Ing. en Computación ': 18, 'Ing. en Computación e Ing. Industrial*': 19, 'Ing. en Computación y Mat. Aplicadas': 20, 'Ing. en Computación y Mecatrónica': 21, 'Ing. en Negocios': 22, 'M': 23, 'Mat. Aplicadas': 24, 'Mecatrónica': 25, 'No': 26, 'Sí': 27}

In [36]:
encoded_x = x.apply(LabelEncoder().fit_transform)
print(x.head())
encoded_x

             Carrera/s Semestre Genero Lentes Nombres Proyecto 2
0          Mecatrónica       10      M     No       2      Damas
1          Mecatrónica       10      M     No       1      Damas
2  Ing. en Computación       10      F     Sí       2      Damas
3  Ing. en Computación        9      M     No       1      Damas
4  Ing. en Computación        8      M     Sí       2    Ajedrez

    Carrera/s  Semestre  Genero  Lentes  Nombres  Proyecto 2
0          10         0       1       0        1           2
1          10         0       1       0        0           2
2           3         0       0       1        1           2
3           3         6       1       0        0           2
4           3         5       1       1        1           0
5           2         5       1       0        1           2
6           8         4       1       1        1           2
7           5         5       0       0        0           2
8           8         3       1       1        0           1
9           8         5       1       1        0           2
10          8         5       1       0        0           2
11         10         3       1       0        0           0
12          1         2       0       1        0           1
13          8         3       1       0        0           2
14          7         4       1       0        1           1
15          1         3       1       1        0           1
16          1         3       1       0        1           1
17          9         4       1       1        1           1
18          4         5       1       0        1           1
19          6         3       0       1        0           1
20          3         2       1       0        1           2
21          9         2       1       1        0           2
22          0         1       1       0        1           2

In [37]:
estimador = Id3Estimator()
estimador.fit(encoded_x, y, check_input=True)

print(export_text(estimador.tree_, list(encoded_x.keys())))
export_graphviz(estimador.tree_, "arbol.dot", list(encoded_x.keys()))

Carrera/s <=5.50
|   Semestre <=4.00
|   |   Lentes <=0.50
|   |   |   Proyecto 2 <=1.50: ANDRES MIGUEL QUEVEDO (1)
|   |   |   Proyecto 2 >1.50: GUILLERMO JORGE NARANJO MUEDANO (1/1)
|   |   Lentes >0.50
|   |   |   Genero <=0.50
|   |   |   |   Nombres <=0.50: SOFIA ALBERT TASSIER (1)
|   |   |   |   Nombres >0.50: ZARA MARIA UBALDO GALICIA (1)
|   |   |   Genero >0.50: MARIANO FRANCO GOMEZ (1)
|   Semestre >4.00
|   |   Nombres <=0.50
|   |   |   Genero <=0.50: ANDREA DE ANDA KURI (1)
|   |   |   Genero >0.50: BERNARDO ALTAMIRANO GARCIA (1)
|   |   Nombres >0.50
|   |   |   Lentes <=0.50
|   |   |   |   Proyecto 2 <=1.50: CARLOS ALBERTO DELGADO ELIZONDO (1)
|   |   |   |   Proyecto 2 >1.50: SILVESTRE LEONARDO GONZALEZ ABREU (1)
|   |   |   Lentes >0.50: LUIS ANDRES GOMEZ MARTINEZ (1)
Carrera/s >5.50
|   Lentes <=0.50
|   |   Semestre <=1.50
|   |   |   Nombres <=0.50: MARIO GALVEZ LOPEZ (1)
|   |   |   Nombres >0.50: LUIS FERNANDO MENDEZ CRUZ (1)
|   |   Semestre >1.50
|   |   |   Proyecto 2 <=1.50
|   |   |   |   Nombres <=0.50: MAURICIO MARTINEZ RIEDE (1)
|   |   |   |   Nombres >0.50: JORGE EDGAR RODRIGUEZ ORTIZ LOYOLA (1)
|   |   |   Proyecto 2 >1.50: ANTONINO GARCIA OCEJO (1/1)
|   Lentes >0.50
|   |   Semestre <=3.50
|   |   |   Genero <=0.50: NATALIA HERNANDEZ CORNEJO (1)
|   |   |   Genero >0.50
|   |   |   |   Proyecto 2 <=1.50: DIEGO HERNANDEZ DELGADO (1)
|   |   |   |   Proyecto 2 >1.50: ALEXANDER PERELMAN ARCQ (1)
|   |   Semestre >3.50
|   |   |   Nombres <=0.50: IAN ZAIDENWEBER DORENBAUM (1)
|   |   |   Nombres >0.50
|   |   |   |   Proyecto 2 <=1.50: JOSE FRANCISCO GARDUÑO SUCHIL (1)
|   |   |   |   Proyecto 2 >1.50: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)


# Método Manual

In [42]:
categorias = ["Carrera/s","Semestre","Genero","Lentes","Nombres","Proyecto 2"]

arr_x = np.array([
    ["Mecatrónica","10","M","No",2,"Damas"],
    ["Mecatrónica","10","M","No",1,"Damas"],
    ["Ing. en Computación","10","F","Sí",2,"Damas"],
    ["Ing. en Computación","9","M","No",1,"Damas"],
    ["Ing. en Computación","8","M","Sí",2,"Ajedrez"],
    ["Ing. Industrial y Mecatrónica","8","M","No",2,"Damas"],
    ["Ing. en Negocios","7","M","Sí",2,"Damas"],
    ["Ing. en Computación e Ing. Industrial","8","F","No",1,"Damas"]
])
arr_y = np.array([
    "LUIS FERNANDO MENDEZ CRUZ",
    "MARIO GALVEZ LOPEZ",
    "ZARA MARIA UBALDO GALICIA",
    "BERNARDO ALTAMIRANO GARCIA",
    "LUIS ANDRES GOMEZ MARTINEZ",
    "SILVESTRE LEONARDO GONZALEZ ABREU",
    "FRANCISCO JAVIER ARAMBURU ALVAREZ",
    "ANDREA DE ANDA KURI",
])
print(arr_y.dtype)
print(arr_x.dtype)

<U33
<U37

In [44]:
clf = Id3Estimator()
clf.fit(arr_x, arr_y, check_input=True)

export_graphviz(clf.tree_, "arbol2.dot", categorias)
print(export_text(clf.tree_, categorias))

Carrera/s Ing. Industrial y Mecatrónica: SILVESTRE LEONARDO GONZALEZ ABREU (1)
Carrera/s Ing. en Computación
|   Semestre <=8.50: LUIS ANDRES GOMEZ MARTINEZ (1)
|   Semestre >8.50
|   |   Genero F: ZARA MARIA UBALDO GALICIA (1)
|   |   Genero M: BERNARDO ALTAMIRANO GARCIA (1)
Carrera/s Ing. en Computación e Ing. Industrial: ANDREA DE ANDA KURI (1)
Carrera/s Ing. en Negocios: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)
Carrera/s Mecatrónica
|   Nombres <=1.50: MARIO GALVEZ LOPEZ (1)
|   Nombres >1.50: LUIS FERNANDO MENDEZ CRUZ (1)

/Users/bernardoaltamirano/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)