
# Método importando .CSV

# Comando para convertir PDF
$ dot -T pdf arbol.dot -o arbol.pdf

In [10]:
from id3 import Id3Estimator, export_graphviz, export_text
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from collections import defaultdict

In [11]:
# create a dataframe
data_df = pd.read_csv('alumnos.csv', dtype = 'str')
print(data_df.shape)
data_df.head()

(23, 8)

,Nombre,Carrera/s,Ing. En Compu?,Semestre,Genero,Lentes,Nombre.1,Proyecto 2
0,LUIS FERNANDO MENDEZ CRUZ,Mecatrónica,No,10,M,No,2,Damas
1,MARIO GALVEZ LOPEZ,Mecatrónica,No,10,M,No,1,Damas
2,ZARA MARIA UBALDO GALICIA,Mat. Aplicadas,No,10,F,Si,2,Damas
3,BERNARDO ALTAMIRANO GARCIA,Ing. en Computación,Si,9,M,No,1,Damas
4,FRANCISCO JAVIER ARAMBURU ALVAREZ,"Ing, en Computación y Mat. Aplicadas",Si,9,M,Si,2,Damas

In [4]:
x = data_df.drop(['Nombre','Carrera/s'], axis=1)
print(x.head(3))
y = data_df['Nombre']
print(y.head(3))

  Ing. En Compu? Semestre Genero Lentes Nombre.1 Proyecto 2
0             No       10      M     No        2      Damas
1             No       10      M     No        1      Damas
2             No       10      F     Si        2      Damas
0    LUIS FERNANDO MENDEZ CRUZ
1           MARIO GALVEZ LOPEZ
2    ZARA MARIA UBALDO GALICIA
Name: Nombre, dtype: object

In [12]:
values = []
for col in x:
    for val in x[col].unique():
        values.append(val)
print(values)

['No', 'Si', '10', '9', '8', '7', '6', '5', '4', 'M', 'F', 'No', 'Si', '2', '1', 'Damas', 'Ajedrez', 'Conecta 4']

In [7]:
x.head(3)

  Ing. En Compu? Semestre Genero Lentes Nombre.1 Proyecto 2
0             No       10      M     No        2      Damas
1             No       10      M     No        1      Damas
2             No       10      F     Si        2      Damas

In [13]:
encoded_x = x.apply(LabelEncoder().fit_transform)
print(x.head())
encoded_x

  Ing. En Compu? Semestre Genero Lentes Nombre.1 Proyecto 2
0             No       10      M     No        2      Damas
1             No       10      M     No        1      Damas
2             No       10      F     Si        2      Damas
3             Si        9      M     No        1      Damas
4             Si        9      M     Si        2      Damas

    Ing. En Compu?  Semestre  Genero  Lentes  Nombre.1  Proyecto 2
0                0         0       1       0         1           2
1                0         0       1       0         0           2
2                0         0       0       1         1           2
3                1         6       1       0         0           2
4                1         6       1       1         1           2
5                0         5       1       1         1           0
6                0         5       1       0         1           2
7                1         5       0       0         0           2
8                0         5       1       1         0           2
9                0         5       1       0         0           2
10               0         5       1       0         0           0
11               1         4       1       1         0           1
12               1         3       0       1         0           1
13               0         3       1       0         0           2
14               1         3       1       0         1           1
15               1         3       1       1         0           1
16               1         3       1       1         1           1
17               0         3       1       1         1           1
18               1         3       1       0         1           1
19               1         3       0       1         0           1
20               0         2       1       0         1           2
21               1         2       1       1         0           2
22               0         1       1       0         1           2

In [37]:
estimador = Id3Estimator()
estimador.fit(encoded_x, y, check_input=True)

print(export_text(estimador.tree_, list(encoded_x.keys())))
export_graphviz(estimador.tree_, "arbol.dot", list(encoded_x.keys()))

Carrera/s <=5.50
|   Semestre <=4.00
|   |   Lentes <=0.50
|   |   |   Proyecto 2 <=1.50: ANDRES MIGUEL QUEVEDO (1)
|   |   |   Proyecto 2 >1.50: GUILLERMO JORGE NARANJO MUEDANO (1/1)
|   |   Lentes >0.50
|   |   |   Genero <=0.50
|   |   |   |   Nombres <=0.50: SOFIA ALBERT TASSIER (1)
|   |   |   |   Nombres >0.50: ZARA MARIA UBALDO GALICIA (1)
|   |   |   Genero >0.50: MARIANO FRANCO GOMEZ (1)
|   Semestre >4.00
|   |   Nombres <=0.50
|   |   |   Genero <=0.50: ANDREA DE ANDA KURI (1)
|   |   |   Genero >0.50: BERNARDO ALTAMIRANO GARCIA (1)
|   |   Nombres >0.50
|   |   |   Lentes <=0.50
|   |   |   |   Proyecto 2 <=1.50: CARLOS ALBERTO DELGADO ELIZONDO (1)
|   |   |   |   Proyecto 2 >1.50: SILVESTRE LEONARDO GONZALEZ ABREU (1)
|   |   |   Lentes >0.50: LUIS ANDRES GOMEZ MARTINEZ (1)
Carrera/s >5.50
|   Lentes <=0.50
|   |   Semestre <=1.50
|   |   |   Nombres <=0.50: MARIO GALVEZ LOPEZ (1)
|   |   |   Nombres >0.50: LUIS FERNANDO MENDEZ CRUZ (1)
|   |   Semestre >1.50
|   |   |   Proyecto 2 <=1.50
|   |   |   |   Nombres <=0.50: MAURICIO MARTINEZ RIEDE (1)
|   |   |   |   Nombres >0.50: JORGE EDGAR RODRIGUEZ ORTIZ LOYOLA (1)
|   |   |   Proyecto 2 >1.50: ANTONINO GARCIA OCEJO (1/1)
|   Lentes >0.50
|   |   Semestre <=3.50
|   |   |   Genero <=0.50: NATALIA HERNANDEZ CORNEJO (1)
|   |   |   Genero >0.50
|   |   |   |   Proyecto 2 <=1.50: DIEGO HERNANDEZ DELGADO (1)
|   |   |   |   Proyecto 2 >1.50: ALEXANDER PERELMAN ARCQ (1)
|   |   Semestre >3.50
|   |   |   Nombres <=0.50: IAN ZAIDENWEBER DORENBAUM (1)
|   |   |   Nombres >0.50
|   |   |   |   Proyecto 2 <=1.50: JOSE FRANCISCO GARDUÑO SUCHIL (1)
|   |   |   |   Proyecto 2 >1.50: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)


# Método Manual

In [16]:
categorias = ["Ing. en Compu?","Semestre","Genero","Lentes","Nombres","Proyecto 2"]

arr_x = np.array([
    ["Mecatrónica","No","10","M","No","2","Damas"]
    ["Mecatrónica","No","10","M","No","1","Damas"]
    ["Mat. Aplicadas","No","10","F","Si","2","Damas"]
    ["Ing. en Computación","Si","9","M","No","1","Damas"]
    ["Ing, en Computación y Mat. Aplicadas","Si","9","M","Si","2","Damas"]
    ["Mecatrónica","No","8","M","Si","2","Ajedrez"]
    ["Ing. Industrial y Mecatrónica","No","8","M","No","2","Damas"]
    ["Ing. en Computación e Ing. Industrial","Si","8","F","No","1","Damas"]
    ["Ing. en Negocios","No","8","M","Si","1","Damas"]
    ["Ing. en Negocios","No","8","M","No","1","Damas"]
    ["Mecatrónica","No","8","M","No","1","Ajedrez"]
    ["Ing, en Computación y Mecatrónica","Si","7","M","Si","1","Conecta 4"]
    ["Ing, en Computación y Mat. Aplicadas","Si","6","F","Si","1","Conecta 4"]
    ["Ing. en Negocios","No","6","M","No","1","Damas"]
    ["Ing. en Computación y Mecatrónica","Si","6","M","No","2","Conecta 4"]
    ["Ing, en Computación y Mat. Aplicadas","Si","6","M","Si","1","Conecta 4"]
    ["Ing, en Computación y Mat. Aplicadas","Si","6","M","Si","2","Conecta 4"]
    ["Mat. Aplicadas","No","6","M","Si","2","Conecta 4"]
    ["Ing. en Computación","Si","6","M","No","2","Conecta 4"]
    ["Ing. en Computación y Mat. Aplicadas","Si","6","F","Si","1","Conecta 4"]
    ["Mat. Aplicadas","No","5","M","No","2","Damas"]
    ["Ing. en Computación y Economía","Si","5","M","Si","1","Damas"]
    ["Ciencia de Datos","No","4","M","No","2","Damas"]
])

arr_y = np.array([
    "LUIS FERNANDO MENDEZ CRUZ",
    "MARIO GALVEZ LOPEZ",
    "ZARA MARIA UBALDO GALICIA",
    "BERNARDO ALTAMIRANO GARCIA",
    "FRANCISCO JAVIER ARAMBURU ALVAREZ",
    "LUIS ANDRES GOMEZ MARTINEZ",
    "SILVESTRE LEONARDO GONZALEZ ABREU",
    "ANDREA DE ANDA KURI",
    "IAN ZAIDENWEBER DORENBAUM",
    "EDUARDO PESQUEIRA ZORRILLA",
    "MAURICIO MARTINEZ RIEDE",
    "DIEGO HERNANDEZ DELGADO",
    "SOFIA ALBERT TASSIER",
    "ANTONINO GARCIA OCEJO",
    "JORGE EDGAR RODRIGUEZ ORTIZ LOYOLA",
    "MARIANO FRANCO GOMEZ",
    "ANDRES MIGUEL QUEVEDO",
    "JOSE FRANCISCO GARDUÑO SUCHIL",
    "CARLOS ALBERTO DELGADO ELIZONDO",
    "NATALIA HERNANDEZ CORNEJO",
    "MIGUEL ANGEL QUINTERO VILLEGAS",
    "ALEXANDER PERELMAN ARCQ",
    "GUILLERMO JORGE NARANJO MUEDANO"
])
print(arr_y.dtype)
print(arr_x.dtype)

TypeError: list indices must be integers or slices, not tuple

In [44]:
clf = Id3Estimator()
clf.fit(arr_x, arr_y, check_input=True)

export_graphviz(clf.tree_, "arbol2.dot", categorias)
print(export_text(clf.tree_, categorias))

Carrera/s Ing. Industrial y Mecatrónica: SILVESTRE LEONARDO GONZALEZ ABREU (1)
Carrera/s Ing. en Computación
|   Semestre <=8.50: LUIS ANDRES GOMEZ MARTINEZ (1)
|   Semestre >8.50
|   |   Genero F: ZARA MARIA UBALDO GALICIA (1)
|   |   Genero M: BERNARDO ALTAMIRANO GARCIA (1)
Carrera/s Ing. en Computación e Ing. Industrial: ANDREA DE ANDA KURI (1)
Carrera/s Ing. en Negocios: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)
Carrera/s Mecatrónica
|   Nombres <=1.50: MARIO GALVEZ LOPEZ (1)
|   Nombres >1.50: LUIS FERNANDO MENDEZ CRUZ (1)

/Users/bernardoaltamirano/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)