
# Método importando .CSV

# Comando para convertir PDF
$ dot -T pdf arbol.dot -o arbol.pdf

In [1]:
from id3 import Id3Estimator, export_graphviz, export_text
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from collections import defaultdict

In [2]:
# create a dataframe
data_df = pd.read_csv('alumnos.csv', dtype = 'str')
print(data_df.shape)
data_df.head()

(23, 8)

,Nombre,Carrera/s,Ing. En Compu?,Semestre,Genero,Lentes,Nombre.1,Proyecto 2
0,LUIS FERNANDO MENDEZ CRUZ,Mecatrónica,No,10,M,No,2,Damas
1,MARIO GALVEZ LOPEZ,Mecatrónica,No,10,M,No,1,Damas
2,ZARA MARIA UBALDO GALICIA,Mat. Aplicadas,No,10,F,Si,2,Damas
3,BERNARDO ALTAMIRANO GARCIA,Ing. en Computación,Si,9,M,No,1,Damas
4,FRANCISCO JAVIER ARAMBURU ALVAREZ,"Ing, en Computación y Mat. Aplicadas",Si,9,M,Si,2,Damas

In [3]:
x = data_df.drop(['Nombre','Carrera/s'], axis=1)
print(x.head(3))
y = data_df['Nombre']
print(y.head(3))

  Ing. En Compu? Semestre Genero Lentes Nombre.1 Proyecto 2
0             No       10      M     No        2      Damas
1             No       10      M     No        1      Damas
2             No       10      F     Si        2      Damas
0    LUIS FERNANDO MENDEZ CRUZ
1           MARIO GALVEZ LOPEZ
2    ZARA MARIA UBALDO GALICIA
Name: Nombre, dtype: object

In [4]:
values = []
for col in x:
    for val in x[col].unique():
        values.append(val)
print(values)

['No', 'Si', '10', '9', '8', '7', '6', '5', '4', 'M', 'F', 'No', 'Si', '2', '1', 'Damas', 'Ajedrez', 'Conecta 4']

In [5]:
x.head(3)

  Ing. En Compu? Semestre Genero Lentes Nombre.1 Proyecto 2
0             No       10      M     No        2      Damas
1             No       10      M     No        1      Damas
2             No       10      F     Si        2      Damas

In [6]:
encoded_x = x.apply(LabelEncoder().fit_transform)
print(x.head())
encoded_x.head()

  Ing. En Compu? Semestre Genero Lentes Nombre.1 Proyecto 2
0             No       10      M     No        2      Damas
1             No       10      M     No        1      Damas
2             No       10      F     Si        2      Damas
3             Si        9      M     No        1      Damas
4             Si        9      M     Si        2      Damas

   Ing. En Compu?  Semestre  Genero  Lentes  Nombre.1  Proyecto 2
0               0         0       1       0         1           2
1               0         0       1       0         0           2
2               0         0       0       1         1           2
3               1         6       1       0         0           2
4               1         6       1       1         1           2

In [7]:
estimador = Id3Estimator()
estimador.fit(encoded_x, y, check_input=True)

print(export_text(estimador.tree_, list(encoded_x.keys())))
export_graphviz(estimador.tree_, "arbol-csv.dot", list(encoded_x.keys()))

Ing. En Compu? <=0.50
|   Semestre <=2.50
|   |   Genero <=0.50: ZARA MARIA UBALDO GALICIA (1)
|   |   Genero >0.50
|   |   |   Nombre.1 <=0.50: MARIO GALVEZ LOPEZ (1)
|   |   |   Nombre.1 >0.50: GUILLERMO JORGE NARANJO MUEDANO (1/2)
|   Semestre >2.50
|   |   Lentes <=0.50
|   |   |   Nombre.1 <=0.50
|   |   |   |   Proyecto 2 <=1.00: MAURICIO MARTINEZ RIEDE (1)
|   |   |   |   Proyecto 2 >1.00: ANTONINO GARCIA OCEJO (1/1)
|   |   |   Nombre.1 >0.50: SILVESTRE LEONARDO GONZALEZ ABREU (1)
|   |   Lentes >0.50
|   |   |   Nombre.1 <=0.50: IAN ZAIDENWEBER DORENBAUM (1)
|   |   |   Nombre.1 >0.50
|   |   |   |   Proyecto 2 <=0.50: LUIS ANDRES GOMEZ MARTINEZ (1)
|   |   |   |   Proyecto 2 >0.50: JOSE FRANCISCO GARDUÑO SUCHIL (1)
Ing. En Compu? >0.50
|   Lentes <=0.50
|   |   Semestre <=4.00
|   |   |   Genero <=0.50: SOFIA ALBERT TASSIER (1)
|   |   |   Genero >0.50: CARLOS ALBERTO DELGADO ELIZONDO (1/1)
|   |   Semestre >4.00
|   |   |   Genero <=0.50: ANDREA DE ANDA KURI (1)
|   |   |   Genero >0.50: BERNARDO ALTAMIRANO GARCIA (1)
|   Lentes >0.50
|   |   Semestre <=3.50
|   |   |   Genero <=0.50: NATALIA HERNANDEZ CORNEJO (1)
|   |   |   Genero >0.50
|   |   |   |   Nombre.1 <=0.50
|   |   |   |   |   Proyecto 2 <=1.50: MARIANO FRANCO GOMEZ (1)
|   |   |   |   |   Proyecto 2 >1.50: ALEXANDER PERELMAN ARCQ (1)
|   |   |   |   Nombre.1 >0.50: ANDRES MIGUEL QUEVEDO (1)
|   |   Semestre >3.50
|   |   |   Nombre.1 <=0.50: DIEGO HERNANDEZ DELGADO (1)
|   |   |   Nombre.1 >0.50: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)


# Método Manual

Árbol  con carreras

In [8]:
categorias = ["Carrera","Computacion?","Semestre","Genero","Lentes","Nombres","Proyecto 2"]
arr_x = np.array([
    ["Mecatrónica","No","10","M","No","2","Damas"],
    ["Mecatrónica","No","10","M","No","1","Damas"],
    ["Mat. Aplicadas","No","10","F","Si","2","Damas"],
    ["Ing. en Computación","Si","9","M","No","1","Damas"],
    ["Ing, en Computación y Mat. Aplicadas","Si","9","M","Si","2","Damas"],
    ["Mecatrónica","No","8","M","Si","2","Ajedrez"],
    ["Ing. Industrial y Mecatrónica","No","8","M","No","2","Damas"],
    ["Ing. en Computación e Ing. Industrial","Si","8","F","No","1","Damas"],
    ["Ing. en Negocios","No","8","M","Si","1","Damas"],
    ["Ing. en Negocios","No","8","M","No","1","Damas"],
    ["Mecatrónica","No","8","M","No","1","Ajedrez"],
    ["Ing, en Computación y Mecatrónica","Si","7","M","Si","1","Conecta 4"],
    ["Ing, en Computación y Mat. Aplicadas","Si","6","F","No","1","Conecta 4"],
    ["Ing. en Negocios","No","6","M","No","1","Damas"],
    ["Ing. en Computación y Mecatrónica","Si","6","M","No","2","Conecta 4"],
    ["Ing, en Computación y Mat. Aplicadas","Si","6","M","Si","1","Conecta 4"],
    ["Ing, en Computación y Mat. Aplicadas","Si","6","M","Si","2","Conecta 4"],
    ["Mat. Aplicadas","No","6","M","Si","2","Conecta 4"],
    ["Ing. en Computación","Si","6","M","No","2","Conecta 4"],
    ["Ing. en Computación y Mat. Aplicadas","Si","6","F","Si","1","Conecta 4"],
    ["Mat. Aplicadas","No","5","M","No","2","Damas"],
    ["Ing. en Computación y Economía","Si","5","M","Si","1","Damas"],
    ["Ciencia de Datos","No","4","M","No","2","Damas"]
])

arr_y = np.array([
    "LUIS FERNANDO MENDEZ CRUZ",
    "MARIO GALVEZ LOPEZ",
    "ZARA MARIA UBALDO GALICIA",
    "BERNARDO ALTAMIRANO GARCIA",
    "FRANCISCO JAVIER ARAMBURU ALVAREZ",
    "LUIS ANDRES GOMEZ MARTINEZ",
    "SILVESTRE LEONARDO GONZALEZ ABREU",
    "ANDREA DE ANDA KURI",
    "IAN ZAIDENWEBER DORENBAUM",
    "EDUARDO PESQUEIRA ZORRILLA",
    "MAURICIO MARTINEZ RIEDE",
    "DIEGO HERNANDEZ DELGADO",
    "SOFIA ALBERT TASSIER",
    "ANTONINO GARCIA OCEJO",
    "JORGE EDGAR RODRIGUEZ ORTIZ LOYOLA",
    "MARIANO FRANCO GOMEZ",
    "ANDRES MIGUEL QUEVEDO",
    "JOSE FRANCISCO GARDUÑO SUCHIL",
    "CARLOS ALBERTO DELGADO ELIZONDO",
    "NATALIA HERNANDEZ CORNEJO",
    "MIGUEL ANGEL QUINTERO VILLEGAS",
    "ALEXANDER PERELMAN ARCQ",
    "GUILLERMO JORGE NARANJO MUEDANO"
])
print(arr_y.dtype)
print(arr_x.dtype)

<U34
<U37

In [9]:
clf = Id3Estimator()
clf.fit(arr_x, arr_y, check_input=True)

export_graphviz(clf.tree_, "arbol-carreras.dot", categorias)
print(export_text(clf.tree_, categorias))

Carrera Ciencia de Datos: GUILLERMO JORGE NARANJO MUEDANO (1)
Carrera Ing, en Computación y Mat. Aplicadas
|   Nombres <=1.50
|   |   Genero F: SOFIA ALBERT TASSIER (1)
|   |   Genero M: MARIANO FRANCO GOMEZ (1)
|   Nombres >1.50
|   |   Semestre <=7.50: ANDRES MIGUEL QUEVEDO (1)
|   |   Semestre >7.50: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)
Carrera Ing, en Computación y Mecatrónica: DIEGO HERNANDEZ DELGADO (1)
Carrera Ing. Industrial y Mecatrónica: SILVESTRE LEONARDO GONZALEZ ABREU (1)
Carrera Ing. en Computación
|   Semestre <=7.50: CARLOS ALBERTO DELGADO ELIZONDO (1)
|   Semestre >7.50: BERNARDO ALTAMIRANO GARCIA (1)
Carrera Ing. en Computación e Ing. Industrial: ANDREA DE ANDA KURI (1)
Carrera Ing. en Computación y Economía: ALEXANDER PERELMAN ARCQ (1)
Carrera Ing. en Computación y Mat. Aplicadas: NATALIA HERNANDEZ CORNEJO (1)
Carrera Ing. en Computación y Mecatrónica: JORGE EDGAR RODRIGUEZ ORTIZ LOYOLA (1)
Carrera Ing. en Negocios
|   Semestre <=7.00: ANTONINO GARCIA OCEJO (1)
|   Semestre >7.00
|   |   Lentes No: EDUARDO PESQUEIRA ZORRILLA (1)
|   |   Lentes Si: IAN ZAIDENWEBER DORENBAUM (1)
Carrera Mat. Aplicadas
|   Semestre <=5.50: MIGUEL ANGEL QUINTERO VILLEGAS (1)
|   Semestre >5.50
|   |   Genero F: ZARA MARIA UBALDO GALICIA (1)
|   |   Genero M: JOSE FRANCISCO GARDUÑO SUCHIL (1)
Carrera Mecatrónica
|   Semestre <=9.00
|   |   Lentes No: MAURICIO MARTINEZ RIEDE (1)
|   |   Lentes Si: LUIS ANDRES GOMEZ MARTINEZ (1)
|   Semestre >9.00
|   |   Nombres <=1.50: MARIO GALVEZ LOPEZ (1)
|   |   Nombres >1.50: LUIS FERNANDO MENDEZ CRUZ (1)

/Users/bernardoaltamirano/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)

Árbol con carrera binaria (compu o no)

In [10]:
arr_x_bin = arr_x[:,1:]
categorias_bin = categorias[1:]
categorias_bin

['Computacion?', 'Semestre', 'Genero', 'Lentes', 'Nombres', 'Proyecto 2']

In [11]:
clf = Id3Estimator()
clf.fit(arr_x_bin, arr_y, check_input=True)

export_graphviz(clf.tree_, "arbol-carreras-binario.dot", categorias_bin)
print(export_text(clf.tree_, categorias_bin))

Proyecto 2 Ajedrez
|   Lentes No: MAURICIO MARTINEZ RIEDE (1)
|   Lentes Si: LUIS ANDRES GOMEZ MARTINEZ (1)
Proyecto 2 Conecta 4
|   Nombres <=1.50
|   |   Genero F
|   |   |   Lentes No: SOFIA ALBERT TASSIER (1)
|   |   |   Lentes Si: NATALIA HERNANDEZ CORNEJO (1)
|   |   Genero M
|   |   |   Semestre <=6.50: MARIANO FRANCO GOMEZ (1)
|   |   |   Semestre >6.50: DIEGO HERNANDEZ DELGADO (1)
|   Nombres >1.50
|   |   Lentes No: CARLOS ALBERTO DELGADO ELIZONDO (1/1)
|   |   Lentes Si
|   |   |   Computacion? No: JOSE FRANCISCO GARDUÑO SUCHIL (1)
|   |   |   Computacion? Si: ANDRES MIGUEL QUEVEDO (1)
Proyecto 2 Damas
|   Nombres <=1.50
|   |   Computacion? No
|   |   |   Semestre <=7.00: ANTONINO GARCIA OCEJO (1)
|   |   |   Semestre >7.00
|   |   |   |   Lentes No: EDUARDO PESQUEIRA ZORRILLA (1/1)
|   |   |   |   Lentes Si: IAN ZAIDENWEBER DORENBAUM (1)
|   |   Computacion? Si
|   |   |   Semestre <=6.50: ALEXANDER PERELMAN ARCQ (1)
|   |   |   Semestre >6.50
|   |   |   |   Genero F: ANDREA DE ANDA KURI (1)
|   |   |   |   Genero M: BERNARDO ALTAMIRANO GARCIA (1)
|   Nombres >1.50
|   |   Semestre <=8.50: GUILLERMO JORGE NARANJO MUEDANO (1/2)
|   |   Semestre >8.50
|   |   |   Computacion? No
|   |   |   |   Genero F: ZARA MARIA UBALDO GALICIA (1)
|   |   |   |   Genero M: LUIS FERNANDO MENDEZ CRUZ (1)
|   |   |   Computacion? Si: FRANCISCO JAVIER ARAMBURU ALVAREZ (1)

/Users/bernardoaltamirano/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)