In [ ]:
%matplotlib inline


# Graph export from Estimator


An example graph export of :class:`id3.id3.Id3Estimator` with
:file:`id3.export.export_graphviz`


$ dot -T png out.dot -o out.png

.. figure::  /_static/out.png
   :align:   center

In [7]:
from id3 import Id3Estimator, export_graphviz
import numpy as np
import pandas as pd

In [5]:
feature_names = ["age",
                 "gender",
                 "sector",
                 "degree"]

X = np.array([[45, "male", "private", "m"],
              [50, "female", "private", "m"],
              [61, "other", "public", "b"],
              [40, "male", "private", "none"],
              [34, "female", "private", "none"],
              [33, "male", "public", "none"],
              [43, "other", "private", "m"],
              [35, "male", "private", "m"],
              [34, "female", "private", "m"],
              [35, "male", "public", "m"],
              [34, "other", "public", "m"],
              [34, "other", "public", "b"],
              [34, "female", "public", "b"],
              [34, "male", "public", "b"],
              [34, "female", "private", "b"],
              [34, "male", "private", "b"],
              [34, "other", "private", "b"]])

y = np.array(["(30k,38k)",
              "(30k,38k)",
              "(30k,38k)",
              "(13k,15k)",
              "(13k,15k)",
              "(13k,15k)",
              "(23k,30k)",
              "(23k,30k)",
              "(23k,30k)",
              "(15k,23k)",
              "(15k,23k)",
              "(15k,23k)",
              "(15k,23k)",
              "(15k,23k)",
              "(23k,30k)",
              "(23k,30k)",
              "(23k,30k)"])

clf = Id3Estimator()
clf.fit(X, y, check_input=True)

export_graphviz(clf.tree_, "out.dot", feature_names)

/Users/bernardoaltamirano/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)

In [15]:
# define features and target values
data = {
    'carrera': ['Comp', 'Neg', 'Mat', 'Meca'],
    'semestre': [5,6,7,8,9,10],
    'genero': ['H', 'M'],
    'color_de_pelo': ['Negro', 'Café', 'Rubio'],
    'estilo_de_pelo': ['Corto', 'Largo', 'Chino', 'Fleco'],
    'lentes': ['Sí', 'No'],
    'numero_de_nombres': [1, 2],
    'proyecto_1': ['Puzzle', 'GPS'],
    'nombre': []
}

# create an empty dataframe
data_df = pd.DataFrame(columns=data.keys())

np.random.seed(42)
# randomnly create 200 instances
for i in range(200):
    data_df.loc[i, 'carrera'] = str(np.random.choice(data['carrera'], 1)[0])
    data_df.loc[i, 'semestre'] = str(np.random.choice(data['semestre'], 1)[0])
    data_df.loc[i, 'genero'] = str(np.random.choice(data['genero'], 1)[0])
    data_df.loc[i, 'color_de_pelo'] = str(np.random.choice(data['color_de_pelo'], 1)[0]),
    data_df.loc[i, 'estilo_de_pelo'] = str(np.random.choice(data['estilo_de_pelo'], 1)[0]),
    data_df.loc[i, 'lentes'] = str(np.random.choice(data['lentes'], 1)[0]),
    data_df.loc[i, 'numero_de_nombres'] = str(np.random.choice(data['numero_de_nombres'], 1)[0]),
    data_df.loc[i, 'proyecto_1'] = str(np.random.choice(data['proyecto_1'], 1)[0]),
    data_df.loc[i, 'nombre'] = i
data_df.head()

,carrera,semestre,genero,color_de_pelo,estilo_de_pelo,lentes,numero_de_nombres,proyecto_1,nombre
0,Mat,8,H,"(Rubio,)","(Chino,)","(No,)","(1,)","(Puzzle,)",0
1,Mat,6,H,"(Rubio,)","(Chino,)","(Sí,)","(2,)","(Puzzle,)",1
2,Meca,7,M,"(Negro,)","(Largo,)","(No,)","(2,)","(GPS,)",2
3,Neg,6,M,"(Negro,)","(Corto,)","(No,)","(2,)","(GPS,)",3
4,Comp,8,H,"(Negro,)","(Chino,)","(Sí,)","(1,)","(GPS,)",4

In [52]:
categorias = list(data.keys())
categorias = categorias.astype(np.float64)

AttributeError: 'list' object has no attribute 'astype'

In [32]:
data_df['color_de_pelo'] = data_df['color_de_pelo'].astype(str).str.replace(r"\(|\)|,|'", '')
data_df['estilo_de_pelo'] = data_df['estilo_de_pelo'].astype(str).str.replace(r"\(|\)|,|'", '')
data_df['lentes'] = data_df['lentes'].astype(str).str.replace(r"\(|\)|,|'", '')
data_df['numero_de_nombres'] = data_df['numero_de_nombres'].astype(str).str.replace(r"\(|\)|,|'", '')
data_df['proyecto_1'] = data_df['proyecto_1'].astype(str).str.replace(r"\(|\)|,|'", '')

In [33]:
data_df.head()

,carrera,semestre,genero,color_de_pelo,estilo_de_pelo,lentes,numero_de_nombres,proyecto_1,nombre
0,Mat,8,H,Rubio,Chino,No,1,Puzzle,0
1,Mat,6,H,Rubio,Chino,Sí,2,Puzzle,1
2,Meca,7,M,Negro,Largo,No,2,GPS,2
3,Neg,6,M,Negro,Corto,No,2,GPS,3
4,Comp,8,H,Negro,Chino,Sí,1,GPS,4

In [38]:
data_df.drop('nombre', axis=1).head()

,carrera,semestre,genero,color_de_pelo,estilo_de_pelo,lentes,numero_de_nombres,proyecto_1
0,Mat,8,H,Rubio,Chino,No,1,Puzzle
1,Mat,6,H,Rubio,Chino,Sí,2,Puzzle
2,Meca,7,M,Negro,Largo,No,2,GPS
3,Neg,6,M,Negro,Corto,No,2,GPS
4,Comp,8,H,Negro,Chino,Sí,1,GPS

In [40]:
data_df['nombre'].head()

0    0
1    1
2    2
3    3
4    4
Name: nombre, dtype: object

In [46]:
estimador = Id3Estimator()
estimador.fit(data_df.drop('nombre', axis=1), data_df['nombre'], check_input=True)

export_graphviz(estimador.tree_, "arbol.dot", list(data.keys()))

ValueError: could not convert string to float: 'Mat'